/* Pie de página */
.pie-pagina{
    width: 100%;
    background-color: #6d0101;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; 
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box .barra{
    display: flex;
    flex-direction: column;
    margin: -55px
}
.pie-pagina .grupo-1 .box .barra a{
    list-style-position: inside;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    
}
.pie-pagina .grupo-1 .box p{
    color: #fff;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .box figure a{
    text-decoration: none;
}
.pie-pagina .grupo-1 .box .red-social #alineacion{
    text-align: center;
}
.pie-pagina .grupo-1 .box .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #940303;
    border-radius: 15px;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box .red-social a:hover{
    color:#08d9d6
}
.pie-pagina .grupo-1 .box .form a{
    display: inline-block;
    text-decoration: none;
    width: 115px;
    line-height: 45px;
    color: #fff;
    margin-right: 40px;
    margin: 15px;
    background-color: #940303;
    border-radius: 15px;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box .form a:hover{
    color: #08d9d6
}

.pie-pagina .grupo-2 {
    background-color: #3b0101;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
} 
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

/* Menu */
.container{
    width: 100%;
    height: 120vh;
    background: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
}
#mail{
    opacity: 0;
}
form{
    background: #232323;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    max-width: 1000px;
    height: hidden;
    border-radius: 10px;
    
}
form h3{
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 20px;
}
form p{
    color: #ffffff;

}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f6f5;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

textarea, input{
    border-radius: 10px;
    
}
textarea{
    height: 150px;
}